.nav_flex {
    position: fixed;
    top: 0;
    width: 100%;
    background-image: linear-gradient(to bottom, #171A26, rgba(23, 26, 38, 0.0001));
    background-color: transparent;
    justify-content: space-between;
    z-index: 3;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.links_flex {
    align-items: center;
    color: white;
    justify-content: space-evenly;
    opacity: 70%;
    font-weight: 600;
}
.cred_links {
    color: white;
    align-items: center;
    width:20%;
    margin-right: 10px;
}